.pet-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(51, 3, 15);
    border-radius: 20px;
    margin: 15px;
    height: 45vh;
    width: 22vw;
    min-width: 200px;
    background: rgb(165, 47, 77);
    color: rgb(237, 236, 247);
    padding: 20px;
    font-family: sans-serif;
}

.pet-img {
    border: 2px solid rgb(51, 3, 15);
    border-radius: 20px;
    width: 90%;
    max-height: 200px;
}
.image-container  {
    justify-self: flex-start;
    margin: 10px;
}

li > * {
    margin: 10px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}