.pet-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid rgb(51, 3, 15);
    border-radius: 20px;
    margin: 15px;
    height: 40vh;
    width: 30vw;
    min-width: 200px;
    background: rgb(155, 7, 44);
    color: rgb(237, 236, 247);
    padding: 20px;
}